<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Hierarchical Edge Bundling (Radial Tree)</title>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="/static/packages.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/bundle-radial.css"/>
  </head>
  <body>
    <div id="chart"></div>
    <script type="text/javascript" src="/static/bundle-radial.js"></script>
  </body>
</html>
