<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <style>
        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            stroke: #999;
            stroke-opacity: .6;
        }
    </style>
    <body>
      <!-- // <script src="http://d3js.org/d3.v3.min.js"></script> -->
      <script src="{{ static_url("javascripts/d3.v3.min.js") }}"></script>

      <!-- // <script src="{{ static_url("javascripts/d3.js") }}"></script> -->
      <script>
        filename = '/graph/force/graph_data?blog_name={{blog_name}}';
      </script>
      <script src="{{ static_url("javascripts/force_graph_backend.js") }}"></script>
    <body>
</html>
